<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Dashboard</title>
 	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>

<body>
 <div th:insert="fragments/header :: header"></div>
 <hr>
 <div class="container p">
	 <div class="jumbotron-content > h1">
	  	<p align="center">Error Check!</p>
	  	<p align="center">Nothing to do.  Please come back later!</p>
	  	<hr>
	</div>
 </div>
</body>
 <hr>
 <div th:replace="fragments/insecureFooter :: footer"/>
</html>